.App {
  text-align: center;
  background-color: #6c7b8e;
  height: stretch;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #4b586b;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-wrapper {
  display: flex;
  align-items: center;
}

.item-wrapper-text {
  min-width: 85%;
}

.item-wrapper-text-checked {
  min-width: 85%;
  text-decoration: line-through;
}

.tittle {
  margin-top: 20px;
  color: #b6b0b2;
}
